@import'../Mixins/mixins';
@import'../variable/variable';

/*=========================================================
            Banner part start
============================================================*/

#banner_part {

    position: relative;
    

    .banner_item {
        height: 550px;

        .banner_img {
            padding: 50px 0;
        }

        .banner_text {
            padding: 100px 0;

            h3 {
                @include fs(40px, 400, #666);
                font-family: $popins;

                span {
                    @include fs(41px, 400, #757575);
                    font-family: $popins;
                    position: relative;

                    &::after {
                        @include afterbefore();
                        bottom: 8px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: #f77c29;
                    }
                }
            }

            h1 {
                @include fs(50px, 700, #000);
                font-family: $popins;
            }

            p {
                @include fs(25px, 400, #666);
                font-family: $popins;

                span {
                    @include fs(25px, 600, #f77c29);
                    font-family: $popins;
                }
            }

            a {
                padding: 12px 30px;
                border: 2px solid #000000;
                @include fs(15px, 700, #000000);
                margin-top: 25px;
                @include transition(.2s);
                border-radius: 3%;

                i {
                    margin-right: 5px;
                }

                &:hover {
                    background: #000000;
                    color: #fff;
                    border-color: #000000;
                }
            }
        }

        &:nth-child(3) {
            .banner_text {
                h3 {
                    span {
                        color: #f77c29;

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        &:nth-child(4) {
            .banner_text {
                h3 {
                    @include fs(25px, 400, #666);
                    font-family: $popins;
                }

                h1 {
                    @include fs(40px, 400, #666);
                }

                p {
                    @include fs(50px, 400, #000000);

                    span {
                        color: #000000;
                        @include fs(30px, 700, #000000);

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {

        display: flex;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: 8px;

        li {
            button {
                border: 1px solid #000000;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 0;
                margin-left: 15px;

            }

        }

        .slick-active {
            button {
                background: #483b94;
                border-color: #483b94;
            }
        }
    }
}


/*=========================================================
            Banner part End
============================================================*/