@import'../Mixins/mixins';
@import'../variable/variable';

/*==================================================================
            footerend css part start
======================================================================*/
#footerend{
    padding: 30px;
   .mid_content{
       margin-top: 3px;
       h6{
        margin-left: 400px;
        padding:3px 10px;
        @include fs(14px, 400, #666);
        font-family: $popins;
       }
   }
}



/*==================================================================
            footerend css end 
======================================================================*/