@import'../variable/variable';
@import'../Mixins/mixins';
/*=======================================================================================
                        Fsmc part start
=========================================================================================*/

#fsmc_part {
    padding: 30px 0;

    .cont_border {
        border: 1px solid #33333318;
        padding: 20px 0px;

        .icon {
            margin-left: 50px;

            i {
                font-size: 30px;
                color: #336699;
                margin-top: 5px;
            }
        }

        .freeshiptext {
            padding-left: 15px;

            h4 {
                @include fs(16px, 500, #000000);
                font-family: $popins;
            }

            h5 {
                @include fs(14px, 500, #333333b2);
                font-family: $popins;
            }
        }

    }


}

/*=======================================================================================
                        Fsmc part end
=========================================================================================*/

















/*=======================================================================================
                        Fsmc part start
=========================================================================================*/