
/*=================================================
            head bolg css start
===================================================*/

#headblog{
    padding: 55px;
    background: #eee;
    .head_text{
        text-align: center;
        h1{
            @include fs(45px,600,#000000);
            font-family: $popins;
        }
    }
}



/*=================================================
            head bolg css end
===================================================*/







